<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Creaters of this page</h5>
                <p class="grey-text text-lighten-4">
                    This site was created for BPA competion. 
                    This is our submission for the Dubiski chapter
                </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Team Members</h5>
                <ul>
                    <li>Denzell Ford</li>
                    <li>Edith Oyugi</li>
                    <li>Faith Ajanku</li>
                    <li>Indigo Holland</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        Copyright © 2020
    </div>
</footer>