{% addtoblock "css" %}
    <link rel="stylesheet" href="/static/css/items.css">
{% endaddtoblock %}

{% addtoblock "css" %}
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
{% endaddtoblock %}

{% macro render_item(item) %}
    <div class="item">
        <div class="product-info">
            <p id="name">
                {{ item.name }}
            </p>
            <p id="price">
                ${{ item.price }}
            </p>
        </div>
        <img class="item-image" src="{{ item.image_url }}" alt="" srcset="">
        <div class="spacer"></div>
        <div class="buttons">
            <a href="" class="btn-md dark-blue">View More</a>
            <a href="" class="btn-md dark-blue">Add to cart</a>
        </div>
    </div>
{% endmacro %}

{% macro render_items(items) %}
    <div class="items">
        {% for item in items %}
            {{ render_item(item) }}
        {% endfor %}
    </div>
{% endmacro %}



{% addtoblock "js" %}
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
{% endaddtoblock %}

{% addtoblock "js" %}
<script>
$(".items").slick();
</script>
{% endaddtoblock  %}

{% addtoblock "js" %}
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
{% endaddtoblock %}

{% addtoblock "js" %}
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
{% endaddtoblock %}
