{% addtoblock "css" %}
    <link rel="stylesheet" href="/static/css/nav.css">
{% endaddtoblock %}

<nav class="nav">
    <div class="logo-section">
        <img class="logo" src="/static/svg/logo.svg" alt="">
        <a href="/">
            <p class="subheading-1">Epic Win</p>
        </a>
    </div>
    <div class="search-bar">
        <input type="text" id="search-bar"></input>
    </div>
    <div class="nav-items">
        <a href="/">home</a>
        <a href="/about">about</a>
        <a href="/shop">shop</a>
        <a href="/login">login</a>
        <a href="/checkout">checkout</a>
    </div>
</nav>


