[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"

[packages]
flask = "*"
flask-admin = "*"
flask-bcrypt = "*"
flask-login = "*"
flask-marshmallow = "*"
flask-migrate = "*"
flask-restful = "*"
flask-sekazi = "==0.0.3"
flask-sqlalchemy = "*"
gunicorn = "*"
marshmallow-sqlalchemy = "*"
python-dotenv = "*"
psycopg2 = "*"

[requires]
python_version = "3.7"
