{% extends 'layout.html' %}

{% addtoblock "css" %}
<link rel="stylesheet" href="/static/css/about.css">
{% endaddtoblock %}

{% block body %}
h1 { 
position: absolute;
width: 887px;
height: 170px;
left: 47px;
top: 872px;
font-family: Rubik One;
font-style: normal;
font-weight: normal;
font-size: 72px;
line-height: 89px;
display: flex;
align-items: center;
text-align: center;
color: #000000;
}

p {

    position: absolute;
    width: 1180px;
    height: 704px;
    left: 130px;
    top: 1042px;
    
    font-family: Saira ExtraCondensed;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 57px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
}
{% endblock body %}