/* Extra Large */

.hero {
    padding-top: 10vh;
    display: flex;
    justify-content: space-around;
    height: 70vh;
    background: rgba(0,0,0,0);
    position: relative;
    z-index: 1;
}

/* could be good looking ;) */ 
/* .hero:before { */
/*     content: ""; */
/*     position: absolute; */
/*     top: 0; */
/*     left: 0; */
/*     right: 0; */
/*     bottom: 0; */
/*     background: transparent; */
/*     box-shadow: 0px 25px 10px rgba(0, 0, 0, 0.25); */
/*     transform: rotate(-7.5deg); */
/* } */

.hero-bg{
    background: #D9DFE5;
    clip-path: polygon(0 0, 100% 0, 100% 71%, 0% 100%);
    height: 70vh;
    margin-bottom: -70vh;
    position: relative;
    z-index: 1;
}

.aside {
    width: 50%;
}

.illustration {
    width: 75%;
}

.category {
    background: linear-gradient(178.94deg, #28476B 1.37%, rgba(40, 71, 107, 0.379528) 55.83%, rgba(40, 71, 107, 0.292661) 71.42%, rgba(40, 71, 107, 0.203125) 80.93%, rgba(40, 71, 107, 0) 100.11%);
    mix-blend-mode: normal;
    position: relative;
    top: -20vh;
    z-index: 0;
    padding-top: 20vh;
}

.heading {
    display: flex;
    align-items: center;
    padding-top: 90px;
    align-items: space-around;
}

.heading h2 {
    margin-right: 20px;
}


.category .items {
    margin-bottom: 40px;
}


.category .shop-more {
    position: relative;
    float: right;
    top: 70px;
}

.call-to-action {
    margin: 10vh 0px;
    padding: 45px 0px;
    color: white;
    background: #181F26;
    width: 100%;
    text-align: center;
}

/* Desktop Size */
@media (max-width: 1025px) {
    .illustration {
        width: 70%;
    }
    .aside {
        margin-right: 0px;
    }
}

/* Tablet Size */
@media (max-width: 768px) {
    .illustration {
        display: none;
    }
    .aside {
        width: 75%;
    }
}

/* Phone Size */
@media (max-width: 576px) {

}
