.item {
    width: 376px;
    height: 350px;
    padding: 25px 25px;
    box-shadow: 6px 5px 4px rgba(0, 0, 0, 0.27);
    border-radius: 70px;
    background: rgba(255, 255, 255, 0.3);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.item-image {
    width: 100%;
}

.items {
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    flex-wrap: wrap;
    background: rgba(255, 255, 255, 0)
}



.items .item {
    margin-left: 45px;
}

.items .item .buttons {
}

.item-sm {
    align-items: center;
    box-shadow: 6px 5px 4px rgba(0, 0, 0, 0.27);
    border-radius: 70px;
    background: rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
}

.item-sm:hover {
    color: #A1167A;
}

.item-sm * {
    margin: 10px 20px;
}
