.bg {
    background: #395D97;
}
.login-form {
    background: #D9DFE5;
    width: 500px;
    height: 750px;
    margin: 0 auto;
    padding-left: 27px;
    padding-right: 50px;
    padding-top: 21px;
}
.userword {
    display: flex;
    flex-direction: column;
    margin-bottom: 180px;
    width: 425px;
}

.rememberword {
    display: flex;
    flex-direction: column;
}

.rememberword .btn {
    align-self: center;
    width: 100%;
}
