
.bg {
    background: #224680;
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: -1;
    clip-path: polygon(0 0, 100% 0, 36% 100%, 0 100%);
    margin-bottom: -100vh;
}

.login-form {
    position: relative;
    z-index: 1;
    background: #D9DFE5;
    width: 500px;
    height: 750px;
    margin: 0 auto;
    padding-left: 27px;
    padding-right: 50px;
    padding-top: 21px;
}

.userword {
    display: flex;
    flex-direction: column;
    margin-bottom: 180px;
    width: 425px;
}

.rememberword {
    display: flex;
    flex-direction: column;
}

.rememberword .btn {
    align-self: center;
    width: 100%;
}
