* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
}

main {
    flex: 1 0 auto;
    overflow-y: hidden;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.subheading-1 {
    font-size: 30px;
    margin-bottom: 20px;
}
.subheading-2 {
    font-size: 25px;
    margin-bottom: 9px;
}

a {
    text-decoration: none;
}

/* Layout */


.container {
    padding-left: 5%;
    /* margin: 0 auto; */
}

/* Desktop Size */
@media (max-width: 1025px) {
    .container {
    }
}

@media (max-width: 768px) {
    .container {

    }
}


/* Colors */
.text-white {
    color: white;
}


/* Components */


input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

a {
    color: black;
}

a:hover:not(.btn) {
    color: #A1167A;
}

.button,
.btn-md,
.btn-lg{
    text-decoration: none;
    color: black;
    padding: .5rem 1rem;
    background: #88DFFB;
    border-radius: 50px;
    display: inline-block;
    text-align: center;
}

.btn-md {
    padding: 10px 30px;
}

.btn-lg {
    padding: 20px 30px;
}

.spacer {
    flex: 1;
}

.logo {
    height: 6vh;
}

footer {
    padding: 23px 0px;
    text-align: center;
    background: #708FB3;
}

/* Colors */

.dark-blue {
    color: white;
    background: #224680;
}

.dark-purple {
    color: white;
    background: #A1167A;
}

.text-purple {
    color: #A1167A;
}

.text-blue {
    color: #224680;
}
