.nav {
    display: flex;
    justify-content: space-between;
    height: 5vh;
    background: #708FB3;
    padding-left: 20px;
    padding-right: 50px;
}

.logo-section {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.logo-section a {
    display: inline-block;
    padding: 5% 0px;
    position: relative;
    text-decoration: none;
    color: black;
    margin-left: 22px;
}

.nav-items {
    list-style-type: none;
}
.nav-items a {
    text-decoration: none;
    color: black;
    padding: 5% 0px;
    display: inline-block;
    margin-left: 27px;
}

