#shop-list {
    width: 90%;
}

.filters {
    width: 10%;
    flex: 1;
    background: #A8C7EB;
}


.filter {
}

input[type=text]{
    width: auto;
}

.filter-name {
    display: flex;
    background: #224680;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}

.filter svg {
    margin-right: 0.5em;
}

.inner-filter {
    display: inline-block;
    color: black;
    background: #708FB3;
    padding: 0 19px;
}

