input[type=text]{
    width: auto;
}

#cta-empty {
    padding: .8rem 0px;
}
.filter-name {
    display: flex;
    background: #224680;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}

.inner-filter {
    display: inline-block;
    color: black;
    background: #708FB3;
    padding: 0 19px;
}

