{% extends 'layout_fast.html' %}

{% addtoblock "css" %}
<link rel="stylesheet" href="/static/css/about.css">
{% endaddtoblock %}

{% block body %}
    <h1>THE STORY BEGINS...</h1>
             <p>Epic Wins was founded in 1940 when an 20 year-old Denzell Epic was fishing with his grandfather.
                One day, while fishing, Denzell’s grandfather entered the lake he was fishing in with a canoe he 
                bought at a sporting goods store. The canoe was fragile and in terrible condition, although the
                store advertised it differently. His grandfather obtained an injury that almost cost him his life 
                and the sporting goods store found their way out of the legal charges. </p>

            <p>Denzell’s grandmother, Indigo Epic, was horrified at her husband’s injury and the carelessness
                of the sporting goods store. She advised her son Denzell to build his own store, a store that
                would be focused on protection and the customer. Indigo Epic provided Denzell $500 to help fund 
                his store, the last bit of money she had left. By the 1980’s, Denzell expanded his products to 
                cover not only camping related goods, but also sports, hiking, and footwear.</p>

    <h1>...AND LIVES ON</h1>
            <p>Edith Oyugi is the current CEO and Chairman of Epic Wins. Her entire family is resposible 
                for taking care of certain stores and expanding the chains. Epic Wins continues to offer 
                the finest quality products at competitive prcices, supported by teammates with a passion 
                for sports. Epic Wins went public on the New York Exchange on May 13, 2019 under the ticker 
                symbol EWS. </p>
            
            <p>Today, headquareted in Grand Prairie, Texas, Epic Wins is a `leading omni-channel sporting 
                goods retailer offer an extensive assortment of authentic, high-quality sporting equipment, 
                apparel, footwear, camping equipment, and hunting equiptment. As of September 1, 2019,  
                there are over 700 Epic Wins locations in operation across the United States. These stores 
                serve and inspire athletes and outdoor enthusiasts to achieve their personal best through a 
                blend of dedicated teammates, in-store services, and unique specialty shop-in-ships dedicated 
                to team sports, athletic apparel, hunting, camping, and footwear.  Epic Wins offers its products 
                through a content rich platform that is integrated with its store netwoek and provides customers 
                with the convenience and expertise of a 24-hour storefront. </p>
{% endblock body %}
