{% extends 'layout_fast.html' %}

{% block body %}
<style>
        .checks {
          background-color: black;
          color: white;
          margin: 2px;
          padding: 2px;
          width: 100%;
        }
        </style>
<div class="checks">
        <center><h4>Check Out</h4></center>
       
      </div>

<style>
        .chew {
             background-color: rgb(161, 22, 122);
             color: white;
            width: 100%;
            }
            </style>
    <div class="chew">
            <table class="collumn">
                    ......
                    </table>
          </div>

{% endblock body %}