{% extends 'layout.html' %}

{% addtoblock "css" %}
    <link rel="stylesheet" href="/static/css/products.css">
{% endaddtoblock %}

{% addtoblock "css" %}
   <link rel="stylesheet" href="/static/css/items.css">
{% endaddtoblock %}

{% from '/components/items.html' import render_item %}
{% block body %}
    <div class="row">
        {% for item in items %}
            {{ render_item(item) }}
            {% if loop.index % 3 == 1 %}
                </div>
                <div class="row">
            {% endif %}
        {% endfor %}
    </div>
{% endblock body %}

