{% extends 'layout_fast.html' %}

{% addtoblock "css" %}
    <link rel="stylesheet" href="/static/css/products.css">
{% endaddtoblock %}

{% addtoblock "css" %}
   <link rel="stylesheet" href="/static/css/items.css">
{% endaddtoblock %}

{% from '/components/items.html' import render_item %}
{% block body %}
    <section class="shop-main row">
        <div class="filters col s2">
            <p class="subheading-2">Filter by:</p>
            <ul class="collapsible">
                <li>
                  <div class="collapsible-header"><i class="material-icons">dehaze</i>Price</div>
                  <div class="collapsible-body">
                    <p>Between Prices</p>
                    <form class="form" id="price-" style="align-items: center; width: 100%">
                        <div class="input-field">
                            <input id="min" type="number">
                            <label for="min">Minimum Price</label>
                        </div>
                        <div class="input-field">
                            <input id="max" type="number">
                            <label for="max">Maximum Price</label>
                        </div>
                        <input type="submit" class="btn z-depth-1" value="Filter">
                    </form>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">dehaze</i>First</div>
                  <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">dehaze</i>First</div>
                  <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
            </ul>
        </div>
        <div id="shop-list" class="col s10">
            <!-- this portion is rendered by javascript -->
        </div>
    </section>
{% endblock body %}


{% addtoblock "js" %}
   <script type="module" src="/static/js/products.js"></script>
{% endaddtoblock %}
