{% extends 'layout_fast.html' %}

{% addtoblock "css" %}
    <link rel="stylesheet" href="/static/css/single_item.css">
{% endaddtoblock %}

{% block body %}
<section class="item-view">
    <img class="item-img"src="{{ '/static/images/Product Images/' + product.image_name }}">
    <div class="info-head">

        <div class="title">
            <h4>{{ product.name }}</h4>
            <p>{{ product.description_short }}</p>
        </div>

        <p>Price <span class="text-purple">${{ product.cost }}</span></p>
        <div class="sizes">
            <p>Size S</p>
            <div class="choose-size">
                <p class="size-choice">S</p>
                <p class="size-choice">M</p>
                <p class="size-choice">L</p>
                <p class="size-choice">XL</p>
            </div>
        </div>


        <a class="btn dark-purple" href="#">Add to Cart</a>
    </div>
</section>
<hr>
<section class="details">
    <div class="description">
        <h4>Description</h4>
        <p>{{ product.description_long }}</p>
    </div>
</section>

{% endblock body %}
