{% extends 'layout_fast.html' %}

{% from "components/items.html" import render_item %}
{% addtoblock "css" %}
    <link rel="stylesheet" href="/static/css/single_item.css">
{% endaddtoblock %}

{% addtoblock "js" %}
    <script rel="stylesheet" href="/static/js/single_item.js" />
{% endaddtoblock %}

{% block body %}
<section class="item-view">
    <img class="item-img"src="{{ '/static/images/Product Images/' + product.image_name }}">
    <div class="info-head">

        <div class="title">
            <h4>{{ product.name }}</h4>
            <p>{{ product.description_short }}</p>
        </div>

        <p>Price <span class="text-purple">${{ product.cost }}</span></p>

        <form class="form add_to_cart">
            <div class="quantity input-field">
                <input value=1 name="quantity" id="quantity" type="number">
                <label for="quantity">Quantity</label>
            </div>
            <input type="submit" class="btn z-depth-1 dark-purple" value="Add to cart">
        </form>
    </div>
</section>
<hr>
<section class="details">
    <div class="description">
        <h4>Description</h4>
        <p>{{ product.description_long }}</p>
    </div>
</section>

<section class="details">
    <div class="description">
        <h4>Similar Items</h4>
        <div class="row">
          {% for item in similar_items.items %}
            <div class="col s4">
                {{ render_item(item) }}
            </div>
          {% endfor %}
        </div>
    </div>
</section>

{% endblock body %}
