{% extends 'layout_fast.html' %}

{% addtoblock "css" %}
<link rel="stylesheet" href="/static/css/login.css">
{% endaddtoblock %}

{% block body %}
<section class="bg"></section>
<section class="login-form">
    <h1 class="text-blue"> Login </h1>
    <form action="">
        <div class="userword">
	    <div class="input-field">
                <label for="username">Username</label>
                <input type="text" name="username">
	    </div>
	    <div class="input-field">
                <label for="password">Password</label>
                <input type="password" name="password">
	    </div>
        </div>
        <div class="rememberword">
                <label>
			<input type="checkbox" />
			<span>Remember me</span>
		</label>
            <a class="text-purple" href="/register">Sign up</a>
            <a class="btn dark-blue"> Submit </a>
        </div>
    </form>
</section>
{% endblock body %}
